.lists li a {
    text-transform: capitalize;
    color: #000;
    font-family: math !important;
    font-weight: bold;
    font-size: 20px;
}

.lists li a:hover {
    color: #00f;
}

.lists {
    gap: 30px;
}

.pyjuniors-row1-colum2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pyjuniors-row1 {
    justify-content: space-between;
    padding: 20px 0px !important;
}

.address {
    background: #fff;
    border-radius: 5px;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        box-shadow: 0px 0px #142a6b;
    }

    100% {
        box-shadow: 0 0 20px 0px #142a6b;
    }
}

nav.navbar.navbar-expand-lg {
    justify-content: end !important;
}

body {
    border: 9px solid #142a6b;
}

.carousel-item img {
    border-top: 9px solid #142a6b;
    border-bottom: 9px solid #142a6b;
}

a {
    text-decoration: none !important;
}

footer {
    background: #d0e3fd;
}