.lists li a {
    text-transform: capitalize;
    color: #000;
    font-family: math !important;
    font-weight: bold;
    font-size: 20px;
}

.lists li a:hover {
    color: #00f;
}

.lists {
    gap: 30px;
}

.pyjuniors-row1-colum2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pyjuniors-row1 {
    justify-content: space-between;
    overflow: hidden;
}

.address {
    background: #fcfcfa;
    border-radius: 5px;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        box-shadow: 0px 0px #142a6b;
    }

    100% {
        box-shadow: 0 0 20px 0px #142a6b;
    }
}

nav.navbar.navbar-expand-lg {
    justify-content: end !important;
}

body {
    border: 9px solid #142a6b;
}

.carousel-item img {
    border-top: 9px solid #142a6b;
    border-bottom: 9px solid #142a6b;
}

a {
    text-decoration: none !important;
}

footer {
    background: #d0e3fd;
}


.image {
    width: 200px!important;
    height: 135px !important;
    position: relative;
    cursor: pointer;
}

.slide {
    position: absolute;
    background: url(../images/pyjuniors-logo.png) no-repeat center;
    background-size: 200px;
    inset: 0;
    transition: 0.6s ease-in-out;
}

.slide:nth-child(1) {
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
    transition-delay: 0s;
}

.slide:nth-child(2) {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
    transition-delay: 0.25s;
}

.slide:nth-child(3) {
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
    transition-delay: 0.5s;
}

.slide:nth-child(4) {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transition-delay: 0.75s;
}

.image:hover span:nth-child(1) {
    transform: translate(-40px, -60px) rotate(-15deg);
}

.image:hover .slide:nth-child(2) {
    transform: translate(40px, -100px) rotate(25deg);
}

.image:hover .slide:nth-child(3) {
    transform: translate(-40px, 80px) rotate(15deg);
}

.image:hover .slide:nth-child(4) {
    transform: translate(40px, 80px) rotate(-15deg);
}
