.lists li a {
    text-transform: capitalize;
    color: #000;
    font-family: math;
    font-weight: bold;
    font-size: 20px;
}
.lists li a:hover {
   color:#00f;
}
.lists {
    gap: 30px;
}
.pyjuniors-row1-colum2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pyjuniors-row1 {
    justify-content: space-between;
}
.address {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #000;
}
.navbar{
    justify-content: end;
}
body {
    border: 9px solid #142a6b;
}

.carousel-item img {
    border-top: 9px solid #142a6b;
    border-bottom: 9px solid #142a6b;
}

@media screen and (max-width:1200px) {
    .lists li a {
        font-size: 18px;
    }

    .lists {
        gap: 10px;
        text-align: end;
    }
}

@media screen and (max-width:992px) {
    .lists li a {
        font-size:17px;
    }
    .pyjuniors-row1-colum2 {
        display: flex;
        justify-content: end;
    }
    .lists {
        gap: 0px;
    }
}

a {
    text-decoration: none;
}

footer {
    background: #d0e3fd;
}

@media screen and (max-width:576px) {
    .pyjuniors-row1-colum1,.pyjuniors-row1-colum2 {
        width: 50%;
    }
    /* .pyjuniors-row1 {
        flex-direction: row-reverse;
    }
    .navbar {
        justify-content: start;
    } */
    .lists li a {
        font-size:17px;
    }
   .contact1 {
        padding: 0px 30px;
    }
    .pyjuniors-row1-colum1 img {
        width: 150px;
    }
}

